
# latest master bpython as of August 6, 2014
git+git://github.com/bpython/bpython.git@cefcb2581a96974b88c8307a6b99eecb5bd16cc0

# latest master curtsies as of August 6, 2014
git+git://github.com/thomasballinger/curtsies.git@8457f121a29b7c71741e0b8c64e2076b3ac87657

#bpython requirements
pygments
greenlet

# curtsies requirements
blessings
